[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
Documentation=man:syncthing(1)
After=network.target

[Service]
User=laoitdev
ExecStart=/usr/bin/syncthing
Restart=on-failure
SuccessExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target
Alias=syncthing.service

